@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

html, body {
  height: 100%;
  overflow: auto;
}

.bi { vertical-align: 0.125em; }